     <!-- <%# flash.each do |message_type, message| %>
        <%# if message_type == 'notice' %>
          <div class="alert alert-info"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> <%= message %></div>
        <%# else %>
          <div class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <%= message %></div>
        <%# end %>
      <%# end %> -->