<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Home", root_path %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "User Profile", root_path %></li>
        <li><%= link_to "Join", root_path %></li>
      </ul>
    </div>
  </div>
</div>